<!--h2>{{hero.name}} Details</h2>
<div>
    <span> id: </span>
    {{hero.id}}
</div>

<div>
    <span> name: </span>
    {{hero.name | uppercase}}
</div>

<div>
    <label>
        <!- [(ngModel)] is Angular's two-way data binding syntax. ->
        <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
</div>-->

<h2>My Heroes</h2>
<!-- get the list of heroes, using the *ngFor core-directive-->
<ul class="heroes">

    <!--  adding a class conditionaly [class.selected]="(conditional goes here)"-->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>

</ul>

<div *ngIf="selectedHero">

    <!-- fetch the hero object form the parent class and display its contents -->
    <app-hero-detail [hero]="selectedHero">
    </app-hero-detail>

</div>

<!--
<h2> {{selectedHero.name | uppercase}} Details</h2>
<div>
    <span>id: </span>
    {{selectedHero.id}}
</div>
<div>
    <label>
        name: <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
</div>

 When selectedHero is undefined,
     the ngIf removes the hero detail from the DOM.
     There are no selectedHero bindings to consider-->



